# <font color='red'> [0] Build the model </font>

## <font color='green'> [0.1] Importation of the package </font>

In [1]:
from main import *

## <font color='green'> [0.2] Creation of an empty model </font>

In [2]:
momo = model()

Model created

To add metabolite, use .metabolites.add_meta
To add reaction,   use .reactions.add_reaction

## <font color='green'> [0.3] Add of reaction and metabolite </font>

In [3]:
momo.metabolites.add(name = "H2O", external = True, concentration = 1.0)

metabolite_reaction = {"H2O" : 1.0,
                       "H2"  :-1.0,
                       "O2"  :-0.5}

momo.reactions.add(name = "combustion", metabolites = metabolite_reaction, k_eq = 1.0, law = "", flux=1.0)

Don't worry, the metabolite will be add after the add of the 1st reaction
The metabolite "H2O" is already in the model !

In [4]:
metabolite_reaction2 = {"H2O" : -1.0,
                       "H2"  : 0.5,
                       "O2"  : 0.5}
momo.reactions.add(name = "test", metabolites = metabolite_reaction2, k_eq = 1.0, law = "", flux=1.0)

In [5]:
momo.reactions.df

,Metabolites,Equilibrium constant,Law,Flux (mmol/gDW/h)
combustion,"{'H2O': 1.0, 'H2': -1.0, 'O2': -0.5}",1.0,,1
test,"{'H2O': -1.0, 'H2': 0.5, 'O2': 0.5}",1.0,,1

#### Add a reaction with specified metabolite and stoichiometric coefficient automaticaly adds them to the model

In [6]:
momo.metabolites.df

     External  Concentration (mmol/gDW)
H2O     False                         1
H2      False                         1
O2      False                         1

#### Print the stoichiometric matrix

In [7]:
momo.Stoichio_matrix

     combustion  test
H2O         1.0  -1.0
H2         -1.0   0.5
O2         -0.5   0.5

#### It is also possible to remove a metabolite or a reaction to the model

In [8]:
momo.metabolites.remove("O2")
momo.metabolites.df

     External  Concentration (mmol/gDW)
H2O     False                         1
H2      False                         1

#### Removing a metabolite remove also every mention of it in the reactions dataframe and in the stoichiometric matrix

In [9]:
momo.reactions.df

,Metabolites,Equilibrium constant,Law,Flux (mmol/gDW/h)
combustion,"{'H2O': 1.0, 'H2': -1.0}",1.0,,1
test,"{'H2O': -1.0, 'H2': 0.5}",1.0,,1

In [10]:
momo.Stoichio_matrix

     combustion  test
H2O         1.0  -1.0
H2         -1.0   0.5

In [11]:
momo.reactions.remove(name="combustion")
momo.reactions.df

                   Metabolites  Equilibrium constant Law  Flux (mmol/gDW/h)
test  {'H2O': -1.0, 'H2': 0.5}                   1.0                      1

## <font color='green'> [0.4] Stoichiometric matrix from an existant one </font>

In [12]:
reactions = {'Combustion': [1. , -1., -0.5],
            'Reaction_2': [0. ,  0.,   0. ]}

metabolites = ['H2O', 'H2', 'O2']

dataframe = pd.DataFrame(reactions, index=metabolites)

momo.Stoichio_matrix = dataframe

#### And the metabolites and reactions dataframes are automatically update

In [13]:
momo.Stoichio_matrix

     Combustion  Reaction_2
H2O         1.0         0.0
H2         -1.0         0.0
O2         -0.5         0.0

In [14]:
momo.reactions.df

,Metabolites,Equilibrium constant,Law,Flux (mmol/gDW/h)
Combustion,"{'H2O': 1.0, 'H2': -1.0, 'O2': -0.5}",1.0,,1
Reaction_2,{},1.0,,1

In [15]:
momo.metabolites.df

     External  Concentration (mmol/gDW)
H2O     False                         1
H2      False                         1
O2      False                         1

## <font color='green'> [0.5] Create a linear system </font>

In [16]:
momo.creat_linear(4)

Model created

To add metabolite, use .metabolites.add_meta
To add reaction,   use .reactions.add_reaction

### Display the variables of the system

In [17]:
momo.metabolites.df

        External  Concentration (mmol/gDW)
meta_0      True                         1
meta_1     False                         1
meta_2     False                         1
meta_3      True                         1

In [18]:
momo.reactions.df

,Metabolites,Equilibrium constant,Law,Flux (mmol/gDW/h)
reaction_0,"{'meta_0': -1, 'meta_1': 1}",1.0,,1
reaction_1,"{'meta_1': -1, 'meta_2': 1}",1.0,,1
reaction_2,"{'meta_2': -1, 'meta_3': 1}",1.0,,1

## <font color='green'> [0.6] Read a CSV file </font>

In [19]:
momo.read_CSV()

In [20]:
momo.Stoichio_matrix

,ACALD,ACALDt,ACKr,ACONTa,ACONTb,ACt2r,ADK1,AKGDH,AKGt2r,ALCD2x,...,RPI,SUCCt2_2,SUCCt3,SUCDi,SUCOAS,TALA,THD2,TKT1,TKT2,TPI
13dpg,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2pg,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3pg,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6pgc,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6pgl,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
s7p,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,-1,0,1,0,0
succ,0,0,0,0,0,0,0,0,0,0,...,0,1,-1,-1,-1,0,0,0,0,0
succ(e),0,0,0,0,0,0,0,0,0,0,...,0,-1,1,0,0,0,0,0,0,0
succoa,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,1,0,0,0,0,0
xu5p-D,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,-1,-1,0

## <font color='green'> [0.7] Read a SBML file </font>

In [21]:
from main import *
momo = model()
momo.read_SBML()

momo.elasticity.s.half_satured()

Model created

To add metabolite, use .metabolites.add_meta
To add reaction,   use .reactions.add_reaction
Model created

To add metabolite, use .metabolites.add_meta
To add reaction,   use .reactions.add_reaction
0 error detected in your SBML file
Warning : The metabolite _S__Malate is not in the SBML file of the metabolic network !

Here, a warning occurs because one of the metabolite of the refence state file isn't in the main SBML file ( "_S__Malate" insteed of "_S_Malate" )

# <font color='red'> [1] Play with the variables </font>

In [22]:
momo.creat_linear(4)

Model created

To add metabolite, use .metabolites.add_meta
To add reaction,   use .reactions.add_reaction

In [23]:
momo.elasticity.s.df

            meta_0  meta_1  meta_2  meta_3
reaction_0       0       0       0       0
reaction_1       0       0       0       0
reaction_2       0       0       0       0

In [24]:
momo.parameters.add_externals()

In [25]:
momo.elasticity.p.df

            Temperature  meta_0_para  meta_3_para
reaction_0          0.0          0.5         -0.0
reaction_1          0.0         -0.0         -0.0
reaction_2          0.0         -0.0         -0.5

## <font color='green'> [1.1] Display the data </font>

### <font color='white'> [1.1.1] Display the stoichiometric matrix </font>

In [26]:
momo.Stoichio_matrix

        reaction_0  reaction_1  reaction_2
meta_0          -1           0           0
meta_1           1          -1           0
meta_2           0           1          -1
meta_3           0           0           1

### <font color='white'> [1.1.2] Display the metabolite dataframe </font>

In [27]:
momo.metabolites.df

        External  Concentration (mmol/gDW)
meta_0      True                         1
meta_1     False                         1
meta_2     False                         1
meta_3      True                         1

### <font color='white'> [1.1.3] Display the reactions dataframe </font>

In [28]:
momo.reactions.df

,Metabolites,Equilibrium constant,Law,Flux (mmol/gDW/h)
reaction_0,"{'meta_0': -1, 'meta_1': 1}",1.0,,1
reaction_1,"{'meta_1': -1, 'meta_2': 1}",1.0,,1
reaction_2,"{'meta_2': -1, 'meta_3': 1}",1.0,,1

### <font color='white'> [1.1.4] Display the enzymes dataframe </font>

In [29]:
momo.enzymes.df

Empty DataFrame
Columns: [Concentration / Activity, Reactions linked]
Index: []

### <font color='white'> [1.1.5] Display the elasticities matrices </font>

In [30]:
momo.elasticity.s.df

            meta_0  meta_1  meta_2  meta_3
reaction_0       0       0       0       0
reaction_1       0       0       0       0
reaction_2       0       0       0       0

In [31]:
momo.elasticity.p

            Temperature  meta_0_para  meta_3_para
reaction_0          0.0          0.5         -0.0
reaction_1          0.0         -0.0         -0.0
reaction_2          0.0         -0.0         -0.5

### <font color='white'> [1.1.6] Display the enzymes dataframes </font>

In [32]:
momo.enzymes.df

Empty DataFrame
Columns: [Concentration / Activity, Reactions linked]
Index: []

## <font color='green'> [1.2] Enzymes </font>

#### The enzyme dataframe is initially empty

### <font color='white'> [1.2.1] Add enzymes linked to each reactions </font>

In [33]:
momo.enzymes.add_to_all_reaction()

In [34]:
momo.enzymes.df

                   Concentration / Activity Reactions linked
enzyme_reaction_0                         1     [reaction_0]
enzyme_reaction_1                         1     [reaction_1]
enzyme_reaction_2                         1     [reaction_2]

### <font color='white'> [1.2.1] Add a specific enzyme </font>

In [35]:
momo.enzymes.add(name = "name_enzyme", mean = 1.0, reaction_linked = ["PTS_RPTSsy", "PGI_R02740", "PFK_R04779"])

### <font color='white'> [1.2.1] Remove a specific enzyme </font>

In [36]:
momo.enzymes.remove(name = "name_enzyme")

But on this state, the enzymes hasn't any influence on our study, we have to consider our enzyme as a parameters to create a elasticity between it and flux

## <font color='green'> [1.3] Parameters </font>

### Adding a new parameters automatcally update the E_p elasticiy matix by adding a new column

There is only the temperture by default in the parameters dataframe

In [37]:
momo.parameters.df

            Mean values Standard deviation
Temperature      273.15                1.0
meta_0_para         1.0                1.0
meta_3_para         1.0                1.0

### <font color='white'> [1.3.1] Add a specific parameter one by one </font>

In [38]:
momo.parameters.add(name = "name_parameter", mean = 1.0, Standard_deviation = 0.5)

### <font color='white'> [1.3.2] Removing a specific parameter </font>

In [39]:
momo.parameters.remove(name = "name_parameter")

Name of the removed parameter : name_parameter

### <font color='white'> [1.3.3] Add every externals metabolite as parameters </font>

In [40]:
momo.elasticity.p.df

            Temperature  meta_0_para  meta_3_para
reaction_0          0.0          0.5         -0.0
reaction_1          0.0         -0.0         -0.0
reaction_2          0.0         -0.0         -0.5

In [41]:
momo.parameters.add_externals()

In [42]:
momo.elasticity.p.df

            Temperature  meta_0_para  meta_3_para
reaction_0          0.0          0.5         -0.0
reaction_1          0.0         -0.0         -0.0
reaction_2          0.0         -0.0         -0.5

In [43]:
momo.parameters.df

            Mean values Standard deviation
Temperature      273.15                1.0
meta_0_para         1.0                1.0
meta_3_para         1.0                1.0

##### And the enzymes too

### <font color='white'> [1.3.4] Add every enzymes as parameters </font>

In [44]:
momo.parameters.add_enzymes()

In [45]:
momo.parameters.df

                       Mean values Standard deviation
Temperature                 273.15                1.0
meta_0_para                    1.0                1.0
meta_3_para                    1.0                1.0
enzyme_reaction_0_para         1.0                1.0
enzyme_reaction_1_para         1.0                1.0
enzyme_reaction_2_para         1.0                1.0

## <font color='green'> [1.4] Elasticities </font>

#### When the .add_externals() and .add_enzymes() are call, it automatically add default values considering the link in the dataframe

In [46]:
momo.elasticity.p.df

,Temperature,meta_0_para,meta_3_para,enzyme_reaction_0_para,enzyme_reaction_1_para,enzyme_reaction_2_para
reaction_0,0.0,0.5,-0.0,1.0,0.0,0.0
reaction_1,0.0,-0.0,-0.0,0.0,1.0,0.0
reaction_2,0.0,-0.0,-0.5,0.0,0.0,1.0

In [47]:
momo.elasticity.s.df

            meta_0  meta_1  meta_2  meta_3
reaction_0       0       0       0       0
reaction_1       0       0       0       0
reaction_2       0       0       0       0

#### We can add default value to the E_s matrix too

In [48]:
momo.elasticity.s.half_satured()

momo.elasticity.s.df

            meta_0  meta_1  meta_2  meta_3
reaction_0     0.5    -0.5    -0.0    -0.0
reaction_1    -0.0     0.5    -0.5    -0.0
reaction_2    -0.0    -0.0     0.5    -0.5

### To modify an elestacity coefficient, use the Pandas paradigme.

In [49]:
momo.elasticity.s.df.at["reaction_2", "meta_0"] = 2
momo.elasticity.s.df.loc["reaction_1"] = [-1 for i in range(momo.elasticity.s.df.shape[1])]

momo.elasticity.s.df

            meta_0  meta_1  meta_2  meta_3
reaction_0     0.5    -0.5    -0.0    -0.0
reaction_1    -1.0    -1.0    -1.0    -1.0
reaction_2     2.0    -0.0     0.5    -0.5

# <font color='red'> [2] Post-simulation analysis </font>

## <font color='green'> [2.0] Accessing the MCA coefficient </font>

In [50]:
momo.Stoichio_matrix

        reaction_0  reaction_1  reaction_2
meta_0          -1           0           0
meta_1           1          -1           0
meta_2           0           1          -1
meta_3           0           0           1

In [51]:
momo.elasticity.s.df

            meta_0  meta_1  meta_2  meta_3
reaction_0     0.5    -0.5    -0.0    -0.0
reaction_1    -1.0    -1.0    -1.0    -1.0
reaction_2     2.0    -0.0     0.5    -0.5

In [52]:
momo.elasticity.p.df

,Temperature,meta_0_para,meta_3_para,enzyme_reaction_0_para,enzyme_reaction_1_para,enzyme_reaction_2_para
reaction_0,0.0,0.5,-0.0,1.0,0.0,0.0
reaction_1,0.0,-0.0,-0.0,0.0,1.0,0.0
reaction_2,0.0,-0.0,-0.5,0.0,0.0,1.0

In [53]:
momo.Jacobian

          meta_1    meta_2
meta_1 -0.833333 -0.166667
meta_2  1.166667 -0.166667

In [54]:
print(f"Link matrix : \n{momo.Link_matrix[0]}\n")
print(f"Reduced N matrix :")
momo.Link_matrix[1]

Link matrix :
[[-6.66666667e-01 -3.33333333e-01]
 [ 1.00000000e+00 -3.33066907e-16]
 [ 2.77555756e-16  1.00000000e+00]
 [-3.33333333e-01 -6.66666667e-01]]

Reduced N matrix :

        reaction_0  reaction_1  reaction_2
meta_1           1          -1           0
meta_2           0           1          -1

In [55]:
momo.R

,Temperature,meta_0_para,meta_3_para,enzyme_reaction_0_para,enzyme_reaction_1_para,enzyme_reaction_2_para
meta_0,0.0,-7.500000e-01,-2.500000e-01,-1.500000e+00,1.0,5.000000e-01
meta_1,0.0,2.500000e-01,-2.500000e-01,5.000000e-01,-1.0,5.000000e-01
meta_2,0.0,1.750000e+00,1.250000e+00,3.500000e+00,-1.0,-2.500000e+00
meta_3,0.0,-1.250000e+00,-7.500000e-01,-2.500000e+00,1.0,1.500000e+00
reaction_0,0.0,5.551115e-17,0.000000e+00,1.110223e-16,1.0,0.000000e+00
reaction_1,0.0,0.000000e+00,-1.110223e-16,0.000000e+00,1.0,2.220446e-16
reaction_2,0.0,0.000000e+00,0.000000e+00,0.000000e+00,1.0,0.000000e+00

## <font color='green'> [2.1] Correlation and Mutual Information </font>

### <font color='white'> [2.1.0] Correlation </font>

In [56]:
momo.rho()

,Temperature,meta_0_para,meta_3_para,enzyme_reaction_0_para,enzyme_reaction_1_para,enzyme_reaction_2_para,meta_0,meta_1,meta_2,meta_3,reaction_0,reaction_1,reaction_2
Temperature,1.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000
meta_0_para,0.0,1.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,-0.369274,0.196116,0.356291,-0.366618,5.551115e-17,0.000000e+00,0.000000
meta_3_para,0.0,0.000000e+00,1.000000e+00,0.000000e+00,0.000000,0.000000e+00,-0.123091,-0.196116,0.254493,-0.219971,0.000000e+00,-1.110223e-16,0.000000
enzyme_reaction_0_para,0.0,0.000000e+00,0.000000e+00,1.000000e+00,0.000000,0.000000e+00,-0.738549,0.392232,0.712581,-0.733236,1.110223e-16,0.000000e+00,0.000000
enzyme_reaction_1_para,0.0,0.000000e+00,0.000000e+00,0.000000e+00,1.000000,0.000000e+00,0.492366,-0.784465,-0.203595,0.293294,1.000000e+00,1.000000e+00,1.000000
enzyme_reaction_2_para,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,1.000000e+00,0.246183,0.392232,-0.508987,0.439941,0.000000e+00,2.220446e-16,0.000000
meta_0,0.0,-3.692745e-01,-1.230915e-01,-7.385489e-01,0.492366,2.461830e-01,1.000000,-0.627646,-0.914718,0.956704,4.923660e-01,4.923660e-01,0.492366
meta_1,0.0,1.961161e-01,-1.961161e-01,3.922323e-01,-0.784465,3.922323e-01,-0.627646,1.000000,0.259533,-0.373878,-7.844645e-01,-7.844645e-01,-0.784465
meta_2,0.0,3.562906e-01,2.544933e-01,7.125812e-01,-0.203595,-5.089866e-01,-0.914718,0.259533,1.000000,-0.992731,-2.035946e-01,-2.035946e-01,-0.203595
meta_3,0.0,-3.666178e-01,-2.199707e-01,-7.332356e-01,0.293294,4.399413e-01,0.956704,-0.373878,-0.992731,1.000000,2.932942e-01,2.932942e-01,0.293294
reaction_0,0.0,5.551115e-17,0.000000e+00,1.110223e-16,1.000000,0.000000e+00,0.492366,-0.784465,-0.203595,0.293294,1.000000e+00,1.000000e+00,1.000000
reaction_1,0.0,0.000000e+00,-1.110223e-16,0.000000e+00,1.000000,2.220446e-16,0.492366,-0.784465,-0.203595,0.293294,1.000000e+00,1.000000e+00,1.000000
reaction_2,0.0,0.000000e+00,0.000000e+00,0.000000e+00,1.000000,0.000000e+00,0.492366,-0.784465,-0.203595,0.293294,1.000000e+00,1.000000e+00,1.000000

In [57]:
Cov = momo.rho()

In [58]:
Cov

,Temperature,meta_0_para,meta_3_para,enzyme_reaction_0_para,enzyme_reaction_1_para,enzyme_reaction_2_para,meta_0,meta_1,meta_2,meta_3,reaction_0,reaction_1,reaction_2
Temperature,1.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000
meta_0_para,0.0,1.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,-0.369274,0.196116,0.356291,-0.366618,5.551115e-17,0.000000e+00,0.000000
meta_3_para,0.0,0.000000e+00,1.000000e+00,0.000000e+00,0.000000,0.000000e+00,-0.123091,-0.196116,0.254493,-0.219971,0.000000e+00,-1.110223e-16,0.000000
enzyme_reaction_0_para,0.0,0.000000e+00,0.000000e+00,1.000000e+00,0.000000,0.000000e+00,-0.738549,0.392232,0.712581,-0.733236,1.110223e-16,0.000000e+00,0.000000
enzyme_reaction_1_para,0.0,0.000000e+00,0.000000e+00,0.000000e+00,1.000000,0.000000e+00,0.492366,-0.784465,-0.203595,0.293294,1.000000e+00,1.000000e+00,1.000000
enzyme_reaction_2_para,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,1.000000e+00,0.246183,0.392232,-0.508987,0.439941,0.000000e+00,2.220446e-16,0.000000
meta_0,0.0,-3.692745e-01,-1.230915e-01,-7.385489e-01,0.492366,2.461830e-01,1.000000,-0.627646,-0.914718,0.956704,4.923660e-01,4.923660e-01,0.492366
meta_1,0.0,1.961161e-01,-1.961161e-01,3.922323e-01,-0.784465,3.922323e-01,-0.627646,1.000000,0.259533,-0.373878,-7.844645e-01,-7.844645e-01,-0.784465
meta_2,0.0,3.562906e-01,2.544933e-01,7.125812e-01,-0.203595,-5.089866e-01,-0.914718,0.259533,1.000000,-0.992731,-2.035946e-01,-2.035946e-01,-0.203595
meta_3,0.0,-3.666178e-01,-2.199707e-01,-7.332356e-01,0.293294,4.399413e-01,0.956704,-0.373878,-0.992731,1.000000,2.932942e-01,2.932942e-01,0.293294
reaction_0,0.0,5.551115e-17,0.000000e+00,1.110223e-16,1.000000,0.000000e+00,0.492366,-0.784465,-0.203595,0.293294,1.000000e+00,1.000000e+00,1.000000
reaction_1,0.0,0.000000e+00,-1.110223e-16,0.000000e+00,1.000000,2.220446e-16,0.492366,-0.784465,-0.203595,0.293294,1.000000e+00,1.000000e+00,1.000000
reaction_2,0.0,0.000000e+00,0.000000e+00,0.000000e+00,1.000000,0.000000e+00,0.492366,-0.784465,-0.203595,0.293294,1.000000e+00,1.000000e+00,1.000000

### <font color='white'> [2.1.1] Mutual information </font>

In [59]:
momo.MI_group()

,Temperature,meta_0_para,meta_3_para,enzyme_reaction_0_para,enzyme_reaction_1_para,enzyme_reaction_2_para,meta_0,meta_1,meta_2,meta_3,reaction_0,reaction_1,reaction_2
Temperature,inf,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
meta_0_para,0.0,inf,0.000000,0.000000,0.000000,0.000000,-0.073302,-0.019610,-0.067877,-0.072171,0.000000,0.000000,0.000000
meta_3_para,0.0,0.000000,inf,0.000000,0.000000,0.000000,-0.007634,-0.019610,-0.033480,-0.024798,0.000000,0.000000,0.000000
enzyme_reaction_0_para,0.0,0.000000,0.000000,inf,0.000000,0.000000,-0.394229,-0.083527,-0.354407,-0.385700,0.000000,0.000000,0.000000
enzyme_reaction_1_para,0.0,0.000000,0.000000,0.000000,inf,0.000000,-0.138816,-0.477756,-0.021167,-0.044974,inf,inf,inf
enzyme_reaction_2_para,0.0,0.000000,0.000000,0.000000,0.000000,inf,-0.031260,-0.083527,-0.149923,-0.107556,0.000000,0.000000,0.000000
meta_0,0.0,-0.073302,-0.007634,-0.394229,-0.138816,-0.031260,inf,-0.250388,-0.906111,-1.234213,-0.138816,-0.138816,-0.138816
meta_1,0.0,-0.019610,-0.019610,-0.083527,-0.477756,-0.083527,-0.250388,inf,-0.034867,-0.075286,-0.477756,-0.477756,-0.477756
meta_2,0.0,-0.067877,-0.033480,-0.354407,-0.021167,-0.149923,-0.906111,-0.034867,inf,-2.117304,-0.021167,-0.021167,-0.021167
meta_3,0.0,-0.072171,-0.024798,-0.385700,-0.044974,-0.107556,-1.234213,-0.075286,-2.117304,inf,-0.044974,-0.044974,-0.044974
reaction_0,0.0,0.000000,0.000000,0.000000,inf,0.000000,-0.138816,-0.477756,-0.021167,-0.044974,inf,inf,inf
reaction_1,0.0,0.000000,0.000000,0.000000,inf,0.000000,-0.138816,-0.477756,-0.021167,-0.044974,inf,inf,inf
reaction_2,0.0,0.000000,0.000000,0.000000,inf,0.000000,-0.138816,-0.477756,-0.021167,-0.044974,inf,inf,inf

### <font color='white'> [2.1.2] Plot </font>

In [60]:
import numpy as np
np.sqrt(2*np.pi*np.e*1)

4.132731354122493

In [61]:
momo.parameters.df

                       Mean values Standard deviation
Temperature                 273.15                1.0
meta_0_para                    1.0                1.0
meta_3_para                    1.0                1.0
enzyme_reaction_0_para         1.0                1.0
enzyme_reaction_1_para         1.0                1.0
enzyme_reaction_2_para         1.0                1.0

In [62]:
#momo.plot(result="MI", label=True, value_in_cell=False )

## <font color='green'> [2.2] Sampling </font>

### <font color='white'> [2.2.0] Let's create an exemple </font>

In [63]:
from main import model

momo = model()
momo.read_SBML()

momo.enzymes.add_to_all_reaction()
momo.parameters.add_externals()
momo.parameters.add_enzymes()

momo.elasticity.s.half_satured()

Model created

To add metabolite, use .metabolites.add_meta
To add reaction,   use .reactions.add_reaction
Model created

To add metabolite, use .metabolites.add_meta
To add reaction,   use .reactions.add_reaction
0 error detected in your SBML file
Warning : The metabolite _S__Malate is not in the SBML file of the metabolic network !

In [64]:
import numpy as np
zz = np.zeros(momo.elasticity.p.df.shape)

print(zz.shape)
print(momo.elasticity.p.df.shape)
momo.elasticity.p.df = zz

momo.elasticity.p.df

(31, 44)
(31, 44)

,Temperature,D_Glucose_para,Orthophosphate_para,NADPplus_para,NADPH_para,NADH_para,NADplus_para,ATP_para,H2O_para,Ubiquinone_para,...,enzyme_ACN_R01900_para,enzyme_ICD_R00709_para,enzyme_KGD_R08549_para,enzyme_SCS_R00405_para,enzyme_SDH_R02164_para,enzyme_FUM_R01082_para,enzyme_MDH_R00342_para,enzyme_PPC_R00345_para,enzyme_Overflow_para,enzyme_OxAConsumption_para
PTS_RPTSsy,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
PGI_R02740,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
PFK_R04779,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
ALD_R01070,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
TIM_R01015,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
GAP_R01061,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
PGK_R01512,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
PGM_R01518,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
PGH_R00658,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
PYK_R00200,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
PDH_R00209,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
ZWF_R00835,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
GLH_R02035,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
PGD_R01528,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
RPI_R01056,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
RPE_R01529,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
TXT_R01641,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
TAL_R08575,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
TXT_R01067,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
CSN_R00351,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
ACN_R01325,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
ACN_R01900,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
ICD_R00709,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
KGD_R08549,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
SCS_R00405,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
SDH_R02164,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
FUM_R01082,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
MDH_R00342,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
PPC_R00345,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Overflow,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
OxAConsumption,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [65]:
print(f"Shape of the stoichio matrix : {momo.Stoichio_matrix.shape} \n")
print(f"numbers of metabolite in the model : {momo.metabolites.len} \n")
print(f"Numbers of reaction in the model : {momo.reactions.len} \n")
print(f"Numbers of enzyme in the model : {momo.enzymes.df.shape[0]} \n")
print(f"Numbers of parameters in the model : {momo.parameters.df.shape[0]} \n")

Shape of the stoichio matrix : (40, 31)

numbers of metabolite in the model : 40

Numbers of reaction in the model : 31

Numbers of enzyme in the model : 31

Numbers of parameters in the model : 44

In [66]:
for index in momo.MI_group().index :
    print(index)

Temperature
D_Glucose_para
Orthophosphate_para
NADPplus_para
NADPH_para
NADH_para
NADplus_para
ATP_para
H2O_para
Ubiquinone_para
Ubiquinol_para
ADP_para
CO2_para
enzyme_PTS_RPTSsy_para
enzyme_PGI_R02740_para
enzyme_PFK_R04779_para
enzyme_ALD_R01070_para
enzyme_TIM_R01015_para
enzyme_GAP_R01061_para
enzyme_PGK_R01512_para
enzyme_PGM_R01518_para
enzyme_PGH_R00658_para
enzyme_PYK_R00200_para
enzyme_PDH_R00209_para
enzyme_ZWF_R00835_para
enzyme_GLH_R02035_para
enzyme_PGD_R01528_para
enzyme_RPI_R01056_para
enzyme_RPE_R01529_para
enzyme_TXT_R01641_para
enzyme_TAL_R08575_para
enzyme_TXT_R01067_para
enzyme_CSN_R00351_para
enzyme_ACN_R01325_para
enzyme_ACN_R01900_para
enzyme_ICD_R00709_para
enzyme_KGD_R08549_para
enzyme_SCS_R00405_para
enzyme_SDH_R02164_para
enzyme_FUM_R01082_para
enzyme_MDH_R00342_para
enzyme_PPC_R00345_para
enzyme_Overflow_para
enzyme_OxAConsumption_para
D_Glucose
Phosphoenolpyruvate
Pyruvate
D_Glucose_6_phosphate
_S_Malate
Acetyl_CoA
Fumarate
cis_Aconitate
_6_Phospho_D_gluconate
Orthophosphate
NADPplus
NADPH
NADH
NADplus
ATP
H2O
_2_Oxoglutarate
Oxaloacetate
Ubiquinone
D_Erythrose_4_phosphate
Ubiquinol
ADP
Isocitrate
D_Ribulose_5_phosphate
D_Xylulose_5_phosphate
_3_Phospho_D_glyceroyl_phosphate
CoA
CO2
D_Ribose_5_phosphate
Glycerone_phosphate
D_Fructose_1_6_bisphosphate
D_Glyceraldehyde_3_phosphate
Citrate
Succinyl_CoA
_3_Phospho_D_glycerate
D_Glucono_1_5_lactone_6_phosphate
D_Fructose_6_phosphate
_2_Phospho_D_glycerate
Succinate
Sedoheptulose_7_phosphate
PTS_RPTSsy
PGI_R02740
PFK_R04779
ALD_R01070
TIM_R01015
GAP_R01061
PGK_R01512
PGM_R01518
PGH_R00658
PYK_R00200
PDH_R00209
ZWF_R00835
GLH_R02035
PGD_R01528
RPI_R01056
RPE_R01529
TXT_R01641
TAL_R08575
TXT_R01067
CSN_R00351
ACN_R01325
ACN_R01900
ICD_R00709
KGD_R08549
SCS_R00405
SDH_R02164
FUM_R01082
MDH_R00342
PPC_R00345
Overflow
OxAConsumption

In [67]:
momo.R_s_p

,Temperature,D_Glucose_para,Orthophosphate_para,NADPplus_para,NADPH_para,NADH_para,NADplus_para,ATP_para,H2O_para,Ubiquinone_para,...,ACN_R01900,ICD_R00709,KGD_R08549,SCS_R00405,SDH_R02164,FUM_R01082,MDH_R00342,PPC_R00345,Overflow,OxAConsumption
Temperature,inf,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf
D_Glucose_para,0.0,inf,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf
Orthophosphate_para,0.0,0.0,inf,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf
NADPplus_para,0.0,0.0,0.0,inf,0.0,0.0,0.0,0.0,0.0,0.0,...,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf
NADPH_para,0.0,0.0,0.0,0.0,inf,0.0,0.0,0.0,0.0,0.0,...,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
FUM_R01082,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,...,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf
MDH_R00342,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,...,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf
PPC_R00345,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,...,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf
Overflow,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,...,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf
OxAConsumption,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,...,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf

### <font color='white'> [2.2.1] Updating the dataframe of the sampling data </font>

In [68]:
momo.data_sampling

Empty DataFrame
Columns: [Name, Type, Mean, Standard deviation, Distribution]
Index: []

In [69]:
momo.add_sampling_data(["PTS_RPTSsy","enzyme_PTS_RPTSsy_para"], "elasticity_p", mean = True)

momo.data_sampling

,Name,Type,Mean,Standard deviation,Distribution
0,"[PTS_RPTSsy, enzyme_PTS_RPTSsy_para]",elasticity_p,0.0,1,uniform

### <font color='white'> [2.2.2] Launching the sampling loop </font>

In [70]:
#import cProfile
#cProfile.run("momo.MI()")

In [71]:
momo.sampling(10, result='rho', seed_constant=False)

running time of the code : 0.292346715927124
So 0.029234671592712404 per occurences !

array([[ 1.,  0.,  0., ..., nan, nan, nan],
       [ 0.,  1.,  0., ..., nan, nan, nan],
       [ 0.,  0.,  1., ..., nan, nan, nan],
       ...,
       [nan, nan, nan, ..., nan, nan, nan],
       [nan, nan, nan, ..., nan, nan, nan],
       [nan, nan, nan, ..., nan, nan, nan]])

In [72]:
momo.MI_group([["enzyme_PTS_RPTSsy_para","enzyme_PGI_R02740_para"],["FUM_R01082","MDH_R00342"],["PPC_R00345"]])

     0   1   2
0  inf NaN NaN
1  NaN NaN NaN
2  NaN NaN NaN

In [73]:
from main import *
momo = model()
momo.read_SBML()

momo.elasticity.s.half_satured()
momo.enzymes.add_to_all_reaction()
momo.parameters.add_enzymes()
momo.parameters.add_externals()

Model created

To add metabolite, use .metabolites.add_meta
To add reaction,   use .reactions.add_reaction
Model created

To add metabolite, use .metabolites.add_meta
To add reaction,   use .reactions.add_reaction
0 error detected in your SBML file
Warning : The metabolite _S__Malate is not in the SBML file of the metabolic network !

In [74]:
a = momo.MI_group()

print(a.index[59])
a.loc[a.index[59]]

H2O

Temperature               inf
enzyme_PTS_RPTSsy_para    inf
enzyme_PGI_R02740_para    inf
enzyme_PFK_R04779_para    inf
enzyme_ALD_R01070_para    inf
                         ...
FUM_R01082                inf
MDH_R00342                inf
PPC_R00345                inf
Overflow                  inf
OxAConsumption            inf
Name: H2O, Length: 115, dtype: float64

In [75]:
momo.parameters.remove("Temperature")

Name of the removed parameter : Temperature

In [76]:
#momo.plot(result='MI')

In [77]:
momo.elasticity.p.df.shape[1]

43

# Test Part

In [78]:
from main import model
momo = model()


momo.reactions.add("Reaction_0", {"X_in" : -1.0, "A" : 1.0})
momo.reactions.add("Reaction_1", {"A" : -1.0, "B" : 1.0})
momo.reactions.add("Reaction_2", {"B" : -1.0, "X_out" : 1.0})

momo.metabolites.add("X_in", True, 1)
momo.metabolites.add("A", False, 1)
momo.metabolites.add("B", False, 1)
momo.metabolites.add("X_out", True, 1)

momo.metabolites.change("X_in", external=True)
momo.metabolites.change("X_out", external=True)

momo.elasticity.s.half_satured()

momo.regulations.add("regu_0", "Reaction_0", "B", -0.5, allosteric=True)
momo.regulations.add("regu_1", "Reaction_0", "A", -0.5, allosteric=True)
momo.regulations.add("regu_2", "Reaction_1", "A", 0.5, allosteric=True)
momo.regulations.add("regu_3", "Reaction_1", "B", -0.5, allosteric=True)
momo.regulations.add("regu_4", "Reaction_2", "A", 0.5, allosteric=True)
momo.regulations.add("regu_5", "Reaction_2", "B", 0.5, allosteric=True)

momo.parameters.add_externals()
momo.enzymes.add_to_all_reaction()
momo.parameters.add_enzymes()

Model created

To add metabolite, use .metabolites.add_meta
To add reaction,   use .reactions.add_reaction
The metabolite "X_in" is already in the model !
The metabolite "A" is already in the model !
The metabolite "B" is already in the model !
The metabolite "X_out" is already in the model !

In [79]:
momo.Stoichio_matrix

       Reaction_0  Reaction_1  Reaction_2
X_in         -1.0         0.0         0.0
A             1.0        -1.0         0.0
B             0.0         1.0        -1.0
X_out         0.0         0.0         1.0

In [80]:
momo.Jacobian

          A         B
A -2.333333  0.333333
B  0.333333 -2.333333

In [81]:
momo.covariance

,Temperature,X_in_para,X_out_para,enzyme_Reaction_0_para,enzyme_Reaction_1_para,enzyme_Reaction_2_para,X_in,A,B,X_out,Reaction_0,Reaction_1,Reaction_2
Temperature,1.0,0.00000,0.00000,0.0000,0.000,0.0000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
X_in_para,0.0,1.00000,0.00000,0.0000,0.000,0.0000,-0.156250,0.218750,0.031250,-0.093750,0.187500,0.187500,0.187500
X_out_para,0.0,0.00000,1.00000,0.0000,0.000,0.0000,-0.093750,0.031250,0.218750,-0.156250,-0.187500,-0.187500,-0.187500
enzyme_Reaction_0_para,0.0,0.00000,0.00000,1.0000,0.000,0.0000,-0.312500,0.437500,0.062500,-0.187500,0.375000,0.375000,0.375000
enzyme_Reaction_1_para,0.0,0.00000,0.00000,0.0000,1.000,0.0000,0.125000,-0.375000,0.375000,-0.125000,0.250000,0.250000,0.250000
enzyme_Reaction_2_para,0.0,0.00000,0.00000,0.0000,0.000,1.0000,0.187500,-0.062500,-0.437500,0.312500,0.375000,0.375000,0.375000
X_in,0.0,-0.15625,-0.09375,-0.3125,0.125,0.1875,0.181641,-0.232422,-0.080078,0.130859,-0.027344,-0.027344,-0.027344
A,0.0,0.21875,0.03125,0.4375,-0.375,-0.0625,-0.232422,0.384766,-0.072266,-0.080078,0.082031,0.082031,0.082031
B,0.0,0.03125,0.21875,0.0625,0.375,-0.4375,-0.080078,-0.072266,0.384766,-0.232422,-0.082031,-0.082031,-0.082031
X_out,0.0,-0.09375,-0.15625,-0.1875,-0.125,0.3125,0.130859,-0.080078,-0.232422,0.181641,0.027344,0.027344,0.027344
Reaction_0,0.0,0.18750,-0.18750,0.3750,0.250,0.3750,-0.027344,0.082031,-0.082031,0.027344,0.414062,0.414062,0.414062
Reaction_1,0.0,0.18750,-0.18750,0.3750,0.250,0.3750,-0.027344,0.082031,-0.082031,0.027344,0.414062,0.414062,0.414062
Reaction_2,0.0,0.18750,-0.18750,0.3750,0.250,0.3750,-0.027344,0.082031,-0.082031,0.027344,0.414062,0.414062,0.414062

In [82]:
momo.pripri()

[[ 0.      -0.15625 -0.09375 -0.3125   0.125    0.1875 ]
 [ 0.       0.21875  0.03125  0.4375  -0.375   -0.0625 ]
 [ 0.       0.03125  0.21875  0.0625   0.375   -0.4375 ]
 [ 0.      -0.09375 -0.15625 -0.1875  -0.125    0.3125 ]]

In [83]:
e = momo.elasticity.p.df.to_numpy()
print(e)

[[ 0.   0.5 -0.   1.   0.   0. ]
 [ 0.  -0.  -0.   0.   1.   0. ]
 [ 0.  -0.  -0.5  0.   0.   1. ]]

In [84]:
C = np.array([  [-0.3125,  0.125,   0.1875],
                [ 0.4375, -0.375,  -0.0625],
                [ 0.0625,  0.375,  -0.4375],
                [-0.1875, -0.125,   0.3125]])

In [85]:
np.dot(C,e)

array([[ 0.     , -0.15625, -0.09375, -0.3125 ,  0.125  ,  0.1875 ],
       [ 0.     ,  0.21875,  0.03125,  0.4375 , -0.375  , -0.0625 ],
       [ 0.     ,  0.03125,  0.21875,  0.0625 ,  0.375  , -0.4375 ],
       [ 0.     , -0.09375, -0.15625, -0.1875 , -0.125  ,  0.3125 ]])

In [86]:
momo.Stoichio_matrix

       Reaction_0  Reaction_1  Reaction_2
X_in         -1.0         0.0         0.0
A             1.0        -1.0         0.0
B             0.0         1.0        -1.0
X_out         0.0         0.0         1.0

In [87]:
L = momo.Link_matrix[0]
N_r = momo.Link_matrix[1].to_numpy()

In [88]:
np.dot(L,N_r)

array([[-6.66666667e-01,  3.33333333e-01,  3.33333333e-01],
       [ 1.00000000e+00, -1.00000000e+00,  3.33066907e-16],
       [ 2.77555756e-16,  1.00000000e+00, -1.00000000e+00],
       [-3.33333333e-01, -3.33333333e-01,  6.66666667e-01]])