# <font color='red'> [0] Build the model </font>

## <font color='green'> [0.1] Importation of the package </font>

In [1]:
from main import *

## <font color='green'> [0.2] Creation of an empty model </font>

In [2]:
momo = MODEL()

Model created

To add metabolite, use .metabolites.add_meta
To add reaction,   use .reactions.add_reaction

## <font color='green'> [0.3] Add of reaction and metabolite </font>

In [3]:
momo.metabolites.add(name = "H2O", external = True, concentration = 1.0)

metabolite_reaction = {"H2O" : 1.0,
                       "H2"  :-1.0,
                       "O2"  :-0.5}

momo.reactions.add(name = "combustion", metabolites = metabolite_reaction, k_eq = 1.0, law = "", flux=1.0)

Don't worry, the metabolite will be add after the add of the 1st reaction
The metabolite "H2O" is already in the model !

In [4]:
metabolite_reaction2 = {"H2O" : -1.0,
                       "H2"  : 0.5,
                       "O2"  : 0.5}
momo.reactions.add(name = "test", metabolites = metabolite_reaction2, k_eq = 1.0, law = "", flux=1.0)

In [5]:
momo.reactions.df

,Metabolites,Equilibrium constant,Law,Flux (mmol/gDW/h)
combustion,"{'H2O': 1.0, 'H2': -1.0, 'O2': -0.5}",1.0,,1
test,"{'H2O': -1.0, 'H2': 0.5, 'O2': 0.5}",1.0,,1

#### Add a reaction with specified metabolite and stoichiometric coefficient automaticaly adds them to the model

In [6]:
momo.metabolites.df

     External  Concentration (mmol/gDW)
H2O     False                         1
H2      False                         1
O2      False                         1

#### Print the stoichiometric matrix

In [7]:
momo.Stoichio_matrix

     combustion  test
H2O         1.0  -1.0
H2         -1.0   0.5
O2         -0.5   0.5

#### It is also possible to remove a metabolite or a reaction to the model

In [8]:
momo.metabolites.remove("O2")
momo.metabolites.df

     External  Concentration (mmol/gDW)
H2O     False                         1
H2      False                         1

#### Removing a metabolite remove also every mention of it in the reactions dataframe and in the stoichiometric matrix

In [9]:
momo.reactions.df

,Metabolites,Equilibrium constant,Law,Flux (mmol/gDW/h)
combustion,"{'H2O': 1.0, 'H2': -1.0}",1.0,,1
test,"{'H2O': -1.0, 'H2': 0.5}",1.0,,1

In [10]:
momo.Stoichio_matrix

     combustion  test
H2O         1.0  -1.0
H2         -1.0   0.5

In [11]:
momo.reactions.remove(name="combustion")
momo.reactions.df

                   Metabolites  Equilibrium constant Law  Flux (mmol/gDW/h)
test  {'H2O': -1.0, 'H2': 0.5}                   1.0                      1

## <font color='green'> [0.4] Stoichiometric matrix from an existant one </font>

In [12]:
reactions = {'Combustion': [1. , -1., -0.5],
            'Reaction_2': [0. ,  0.,   0. ]}

metabolites = ['H2O', 'H2', 'O2']

dataframe = pd.DataFrame(reactions, index=metabolites)

momo.Stoichio_matrix = dataframe

#### And the metabolites and reactions dataframes are automatically update

In [13]:
momo.Stoichio_matrix

     Combustion  Reaction_2
H2O         1.0         0.0
H2         -1.0         0.0
O2         -0.5         0.0

In [14]:
momo.reactions.df

,Metabolites,Equilibrium constant,Law,Flux (mmol/gDW/h)
Combustion,"{'H2O': 1.0, 'H2': -1.0, 'O2': -0.5}",1.0,,1
Reaction_2,{},1.0,,1

In [15]:
momo.metabolites.df

     External  Concentration (mmol/gDW)
H2O     False                         1
H2      False                         1
O2      False                         1

## <font color='green'> [0.5] Create a linear system </font>

In [16]:
momo.creat_linear(4)

Model created

To add metabolite, use .metabolites.add_meta
To add reaction,   use .reactions.add_reaction

### Display the variables of the system

In [17]:
momo.metabolites.df

        External  Concentration (mmol/gDW)
meta_0      True                         1
meta_1     False                         1
meta_2     False                         1
meta_3      True                         1

In [18]:
momo.reactions.df

,Metabolites,Equilibrium constant,Law,Flux (mmol/gDW/h)
reaction_0,"{'meta_0': -1, 'meta_1': 1}",1.0,,1
reaction_1,"{'meta_1': -1, 'meta_2': 1}",1.0,,1
reaction_2,"{'meta_2': -1, 'meta_3': 1}",1.0,,1

## <font color='green'> [0.6] Read a CSV file </font>

In [19]:
momo.read_CSV()

In [20]:
momo.Stoichio_matrix

,ACALD,ACALDt,ACKr,ACONTa,ACONTb,ACt2r,ADK1,AKGDH,AKGt2r,ALCD2x,...,RPI,SUCCt2_2,SUCCt3,SUCDi,SUCOAS,TALA,THD2,TKT1,TKT2,TPI
13dpg,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2pg,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3pg,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6pgc,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6pgl,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
s7p,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,-1,0,1,0,0
succ,0,0,0,0,0,0,0,0,0,0,...,0,1,-1,-1,-1,0,0,0,0,0
succ(e),0,0,0,0,0,0,0,0,0,0,...,0,-1,1,0,0,0,0,0,0,0
succoa,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,1,0,0,0,0,0
xu5p-D,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,-1,-1,0

## <font color='green'> [0.7] Read a SBML file </font>

In [21]:
from main import *
momo = MODEL()
momo.read_SBML()

momo.elasticity.s.half_satured()

Model created

To add metabolite, use .metabolites.add_meta
To add reaction,   use .reactions.add_reaction
Model created

To add metabolite, use .metabolites.add_meta
To add reaction,   use .reactions.add_reaction
0 error detected in your SBML file
Warning : The metabolite _S__Malate is not in the SBML file of the metabolic network !

Here, a warning occurs because one of the metabolite of the refence state file isn't in the main SBML file ( "_S__Malate" insteed of "_S_Malate" )

# <font color='red'> [1] Play with the variables </font>

In [22]:
momo.creat_linear(4)

Model created

To add metabolite, use .metabolites.add_meta
To add reaction,   use .reactions.add_reaction

In [23]:
momo.elasticity.s.df

            meta_0  meta_1  meta_2  meta_3
reaction_0       0       0       0       0
reaction_1       0       0       0       0
reaction_2       0       0       0       0

In [24]:
momo.parameters.add_externals()

In [25]:
momo.elasticity.p.df

            Temperature  meta_0_para  meta_3_para
reaction_0          0.0          0.5         -0.0
reaction_1          0.0         -0.0         -0.0
reaction_2          0.0         -0.0         -0.5

## <font color='green'> [1.1] Display the data </font>

### <font color='white'> [1.1.1] Display the stoichiometric matrix </font>

In [26]:
momo.Stoichio_matrix

        reaction_0  reaction_1  reaction_2
meta_0          -1           0           0
meta_1           1          -1           0
meta_2           0           1          -1
meta_3           0           0           1

### <font color='white'> [1.1.2] Display the metabolite dataframe </font>

In [27]:
momo.metabolites.df

        External  Concentration (mmol/gDW)
meta_0      True                         1
meta_1     False                         1
meta_2     False                         1
meta_3      True                         1

### <font color='white'> [1.1.3] Display the reactions dataframe </font>

In [28]:
momo.reactions.df

,Metabolites,Equilibrium constant,Law,Flux (mmol/gDW/h)
reaction_0,"{'meta_0': -1, 'meta_1': 1}",1.0,,1
reaction_1,"{'meta_1': -1, 'meta_2': 1}",1.0,,1
reaction_2,"{'meta_2': -1, 'meta_3': 1}",1.0,,1

### <font color='white'> [1.1.4] Display the enzymes dataframe </font>

In [29]:
momo.enzymes.df

Empty DataFrame
Columns: [Concentration / Activity, Reactions linked]
Index: []

### <font color='white'> [1.1.5] Display the elasticities matrices </font>

In [30]:
momo.elasticity.s.df

            meta_0  meta_1  meta_2  meta_3
reaction_0       0       0       0       0
reaction_1       0       0       0       0
reaction_2       0       0       0       0

In [31]:
momo.elasticity.p

            Temperature  meta_0_para  meta_3_para
reaction_0          0.0          0.5         -0.0
reaction_1          0.0         -0.0         -0.0
reaction_2          0.0         -0.0         -0.5

### <font color='white'> [1.1.6] Display the enzymes dataframes </font>

In [32]:
momo.enzymes.df

Empty DataFrame
Columns: [Concentration / Activity, Reactions linked]
Index: []

## <font color='green'> [1.2] Enzymes </font>

#### The enzyme dataframe is initially empty

### <font color='white'> [1.2.1] Add enzymes linked to each reactions </font>

In [33]:
momo.enzymes.add_to_all_reaction()

In [34]:
momo.enzymes.df

                   Concentration / Activity Reactions linked
enzyme_reaction_0                         1     [reaction_0]
enzyme_reaction_1                         1     [reaction_1]
enzyme_reaction_2                         1     [reaction_2]

### <font color='white'> [1.2.1] Add a specific enzyme </font>

In [35]:
momo.enzymes.add(name = "name_enzyme", mean = 1.0, reaction_linked = ["PTS_RPTSsy", "PGI_R02740", "PFK_R04779"])

### <font color='white'> [1.2.1] Remove a specific enzyme </font>

In [36]:
momo.enzymes.remove(name = "name_enzyme")

But on this state, the enzymes hasn't any influence on our study, we have to consider our enzyme as a parameters to create a elasticity between it and flux

## <font color='green'> [1.3] Parameters </font>

### Adding a new parameters automatcally update the E_p elasticiy matix by adding a new column

There is only the temperture by default in the parameters dataframe

In [37]:
momo.parameters.df

            Mean values Standard deviation
Temperature      273.15                1.0
meta_0_para         1.0                1.0
meta_3_para         1.0                1.0

### <font color='white'> [1.3.1] Add a specific parameter one by one </font>

In [38]:
momo.parameters.add(name = "name_parameter", mean = 1.0, Standard_deviation = 0.5)

### <font color='white'> [1.3.2] Removing a specific parameter </font>

In [39]:
momo.parameters.remove(name = "name_parameter")

Name of the removed parameter : name_parameter

### <font color='white'> [1.3.3] Add every externals metabolite as parameters </font>

In [40]:
momo.elasticity.p.df

            Temperature  meta_0_para  meta_3_para
reaction_0          0.0          0.5         -0.0
reaction_1          0.0         -0.0         -0.0
reaction_2          0.0         -0.0         -0.5

In [41]:
momo.parameters.add_externals()

In [42]:
momo.elasticity.p.df

            Temperature  meta_0_para  meta_3_para
reaction_0          0.0          0.5         -0.0
reaction_1          0.0         -0.0         -0.0
reaction_2          0.0         -0.0         -0.5

In [43]:
momo.parameters.df

            Mean values Standard deviation
Temperature      273.15                1.0
meta_0_para         1.0                1.0
meta_3_para         1.0                1.0

##### And the enzymes too

### <font color='white'> [1.3.4] Add every enzymes as parameters </font>

In [44]:
momo.parameters.add_enzymes()

In [45]:
momo.parameters.df

                       Mean values Standard deviation
Temperature                 273.15                1.0
meta_0_para                    1.0                1.0
meta_3_para                    1.0                1.0
enzyme_reaction_0_para         1.0                1.0
enzyme_reaction_1_para         1.0                1.0
enzyme_reaction_2_para         1.0                1.0

## <font color='green'> [1.4] Elasticities </font>

#### When the .add_externals() and .add_enzymes() are call, it automatically add default values considering the link in the dataframe

In [46]:
momo.elasticity.p.df

,Temperature,meta_0_para,meta_3_para,enzyme_reaction_0_para,enzyme_reaction_1_para,enzyme_reaction_2_para
reaction_0,0.0,0.5,-0.0,1.0,0.0,0.0
reaction_1,0.0,-0.0,-0.0,0.0,1.0,0.0
reaction_2,0.0,-0.0,-0.5,0.0,0.0,1.0

In [47]:
momo.elasticity.s.df

            meta_0  meta_1  meta_2  meta_3
reaction_0       0       0       0       0
reaction_1       0       0       0       0
reaction_2       0       0       0       0

#### We can add default value to the E_s matrix too

In [48]:
momo.elasticity.s.half_satured()

momo.elasticity.s.df

            meta_0  meta_1  meta_2  meta_3
reaction_0     0.5    -0.5    -0.0    -0.0
reaction_1    -0.0     0.5    -0.5    -0.0
reaction_2    -0.0    -0.0     0.5    -0.5

### To modify an elestacity coefficient, use the Pandas paradigme.

In [49]:
momo.elasticity.s.df.at["reaction_2", "meta_0"] = 2
momo.elasticity.s.df.loc["reaction_1"] = [-1 for i in range(momo.elasticity.s.df.shape[1])]

momo.elasticity.s.df

            meta_0  meta_1  meta_2  meta_3
reaction_0     0.5    -0.5    -0.0    -0.0
reaction_1    -1.0    -1.0    -1.0    -1.0
reaction_2     2.0    -0.0     0.5    -0.5

# <font color='red'> [2] Post-simulation analysis </font>

## <font color='green'> [2.0] Accessing the MCA coefficient </font>

In [50]:
momo.Stoichio_matrix

        reaction_0  reaction_1  reaction_2
meta_0          -1           0           0
meta_1           1          -1           0
meta_2           0           1          -1
meta_3           0           0           1

In [51]:
momo.elasticity.s.df

            meta_0  meta_1  meta_2  meta_3
reaction_0     0.5    -0.5    -0.0    -0.0
reaction_1    -1.0    -1.0    -1.0    -1.0
reaction_2     2.0    -0.0     0.5    -0.5

In [52]:
momo.elasticity.p.df

,Temperature,meta_0_para,meta_3_para,enzyme_reaction_0_para,enzyme_reaction_1_para,enzyme_reaction_2_para
reaction_0,0.0,0.5,-0.0,1.0,0.0,0.0
reaction_1,0.0,-0.0,-0.0,0.0,1.0,0.0
reaction_2,0.0,-0.0,-0.5,0.0,0.0,1.0

In [53]:
J = momo.Jacobian
J

        meta_0  meta_1  meta_2
meta_0    -0.5     0.5     0.0
meta_1     0.5    -0.5     0.0
meta_2    -2.5    -0.5    -1.0

In [54]:
J_inv = momo.Jacobian_reversed
J_inv

          meta_0    meta_1    meta_2
meta_0 -0.227273  0.227273 -0.272727
meta_1  0.772727 -0.772727 -0.272727
meta_2  0.181818 -0.181818 -0.181818

In [55]:
L = momo.Link_matrix[0]
print(f"Link matrix : \n{L}\n")
N_r = momo.Link_matrix[1]
print(f"Reduced N matrix :")
N_r

Link matrix :
[[ 1.  0.  0.]
 [ 0.  1.  0.]
 [ 0.  0.  1.]
 [-1. -1. -1.]]

Reduced N matrix :

        reaction_0  reaction_1  reaction_2
meta_0          -1           0           0
meta_1           1          -1           0
meta_2           0           1          -1

In [56]:
e_p = momo.elasticity.p.df.to_numpy()
e_p

array([[ 0. ,  0.5, -0. ,  1. ,  0. ,  0. ],
       [ 0. , -0. , -0. ,  0. ,  1. ,  0. ],
       [ 0. , -0. , -0.5,  0. ,  0. ,  1. ]])

In [57]:
C = -np.dot(np.dot(L, J_inv),N_r)
R_s_p = np.dot(C,e_p)

C

array([[-4.54545455e-01,  5.00000000e-01, -2.72727273e-01],
       [ 1.54545455e+00, -5.00000000e-01, -2.72727273e-01],
       [ 3.63636364e-01, -5.55111512e-17, -1.81818182e-01],
       [-1.45454545e+00,  2.22044605e-16,  7.27272727e-01]])

In [58]:
momo.R_s_p

,Temperature,meta_0_para,meta_3_para,enzyme_reaction_0_para,enzyme_reaction_1_para,enzyme_reaction_2_para
meta_0,0.0,-0.227273,0.136364,-0.454545,5.000000e-01,-0.272727
meta_1,0.0,0.772727,0.136364,1.545455,-5.000000e-01,-0.272727
meta_2,0.0,0.181818,0.090909,0.363636,-5.551115e-17,-0.181818
meta_3,0.0,-0.727273,-0.363636,-1.454545,2.220446e-16,0.727273

In [59]:
momo.R_v_p

,Temperature,meta_0_para,meta_3_para,enzyme_reaction_0_para,enzyme_reaction_1_para,enzyme_reaction_2_para
reaction_0,0.0,2.220446e-16,4.163336e-17,4.440892e-16,0.5,-8.326673e-17
reaction_1,0.0,-1.110223e-16,0.000000e+00,-2.220446e-16,1.0,0.000000e+00
reaction_2,0.0,2.775558e-16,-2.220446e-16,5.551115e-16,1.0,4.440892e-16

## <font color='green'> [2.1] Correlation and Mutual Information </font>

### <font color='white'> [2.1.0] Correlation </font>

In [60]:
momo.rho()

,Temperature,meta_0_para,meta_3_para,enzyme_reaction_0_para,enzyme_reaction_1_para,enzyme_reaction_2_para,meta_0,meta_1,meta_2,meta_3,reaction_0,reaction_1,reaction_2
Temperature,1.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
meta_0_para,0.0,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,-0.293105,0.423547,4.000000e-01,-4.000000e-01,4.440892e-16,-1.110223e-16,2.775558e-16
meta_3_para,0.0,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.175863,0.074744,2.000000e-01,-2.000000e-01,8.326673e-17,0.000000e+00,-2.220446e-16
enzyme_reaction_0_para,0.0,0.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,-0.586210,0.847093,8.000000e-01,-8.000000e-01,8.881784e-16,-2.220446e-16,5.551115e-16
enzyme_reaction_1_para,0.0,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,0.644831,-0.274060,-1.221245e-16,1.221245e-16,1.000000e+00,1.000000e+00,1.000000e+00
enzyme_reaction_2_para,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,-0.351726,-0.149487,-4.000000e-01,4.000000e-01,-1.665335e-16,0.000000e+00,4.440892e-16
meta_0,0.0,-2.931052e-01,1.758631e-01,-5.862104e-01,6.448314e-01,-3.517262e-01,1.000000,-0.731718,-4.103473e-01,4.103473e-01,6.448314e-01,6.448314e-01,6.448314e-01
meta_1,0.0,4.235466e-01,7.474351e-02,8.470931e-01,-2.740595e-01,-1.494870e-01,-0.731718,1.000000,9.218366e-01,-9.218366e-01,-2.740595e-01,-2.740595e-01,-2.740595e-01
meta_2,0.0,4.000000e-01,2.000000e-01,8.000000e-01,-1.221245e-16,-4.000000e-01,-0.410347,0.921837,1.000000e+00,-1.000000e+00,8.493206e-16,-3.441691e-16,2.109424e-16
meta_3,0.0,-4.000000e-01,-2.000000e-01,-8.000000e-01,1.221245e-16,4.000000e-01,0.410347,-0.921837,-1.000000e+00,1.000000e+00,-8.493206e-16,3.441691e-16,-2.109424e-16
reaction_0,0.0,4.440892e-16,8.326673e-17,8.881784e-16,1.000000e+00,-1.665335e-16,0.644831,-0.274060,8.493206e-16,-8.493206e-16,1.000000e+00,1.000000e+00,1.000000e+00
reaction_1,0.0,-1.110223e-16,0.000000e+00,-2.220446e-16,1.000000e+00,0.000000e+00,0.644831,-0.274060,-3.441691e-16,3.441691e-16,1.000000e+00,1.000000e+00,1.000000e+00
reaction_2,0.0,2.775558e-16,-2.220446e-16,5.551115e-16,1.000000e+00,4.440892e-16,0.644831,-0.274060,2.109424e-16,-2.109424e-16,1.000000e+00,1.000000e+00,1.000000e+00

In [61]:
Cov = momo.rho()

In [62]:
Cov

,Temperature,meta_0_para,meta_3_para,enzyme_reaction_0_para,enzyme_reaction_1_para,enzyme_reaction_2_para,meta_0,meta_1,meta_2,meta_3,reaction_0,reaction_1,reaction_2
Temperature,1.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
meta_0_para,0.0,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,-0.293105,0.423547,4.000000e-01,-4.000000e-01,4.440892e-16,-1.110223e-16,2.775558e-16
meta_3_para,0.0,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.175863,0.074744,2.000000e-01,-2.000000e-01,8.326673e-17,0.000000e+00,-2.220446e-16
enzyme_reaction_0_para,0.0,0.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,-0.586210,0.847093,8.000000e-01,-8.000000e-01,8.881784e-16,-2.220446e-16,5.551115e-16
enzyme_reaction_1_para,0.0,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,0.644831,-0.274060,-1.221245e-16,1.221245e-16,1.000000e+00,1.000000e+00,1.000000e+00
enzyme_reaction_2_para,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,-0.351726,-0.149487,-4.000000e-01,4.000000e-01,-1.665335e-16,0.000000e+00,4.440892e-16
meta_0,0.0,-2.931052e-01,1.758631e-01,-5.862104e-01,6.448314e-01,-3.517262e-01,1.000000,-0.731718,-4.103473e-01,4.103473e-01,6.448314e-01,6.448314e-01,6.448314e-01
meta_1,0.0,4.235466e-01,7.474351e-02,8.470931e-01,-2.740595e-01,-1.494870e-01,-0.731718,1.000000,9.218366e-01,-9.218366e-01,-2.740595e-01,-2.740595e-01,-2.740595e-01
meta_2,0.0,4.000000e-01,2.000000e-01,8.000000e-01,-1.221245e-16,-4.000000e-01,-0.410347,0.921837,1.000000e+00,-1.000000e+00,8.493206e-16,-3.441691e-16,2.109424e-16
meta_3,0.0,-4.000000e-01,-2.000000e-01,-8.000000e-01,1.221245e-16,4.000000e-01,0.410347,-0.921837,-1.000000e+00,1.000000e+00,-8.493206e-16,3.441691e-16,-2.109424e-16
reaction_0,0.0,4.440892e-16,8.326673e-17,8.881784e-16,1.000000e+00,-1.665335e-16,0.644831,-0.274060,8.493206e-16,-8.493206e-16,1.000000e+00,1.000000e+00,1.000000e+00
reaction_1,0.0,-1.110223e-16,0.000000e+00,-2.220446e-16,1.000000e+00,0.000000e+00,0.644831,-0.274060,-3.441691e-16,3.441691e-16,1.000000e+00,1.000000e+00,1.000000e+00
reaction_2,0.0,2.775558e-16,-2.220446e-16,5.551115e-16,1.000000e+00,4.440892e-16,0.644831,-0.274060,2.109424e-16,-2.109424e-16,1.000000e+00,1.000000e+00,1.000000e+00

### <font color='white'> [2.1.1] Mutual information </font>

In [63]:
momo.group_MI()

,Temperature,meta_0_para,meta_3_para,enzyme_reaction_0_para,enzyme_reaction_1_para,enzyme_reaction_2_para,meta_0,meta_1,meta_2,meta_3,reaction_0,reaction_1,reaction_2
Temperature,inf,-0.000000,-0.000000,-0.000000,-0.000000,-0.000000,-0.000000,-0.000000,-0.000000,-0.000000,-0.000000,-0.000000,-0.000000
meta_0_para,-0.0,inf,-0.000000,-0.000000,-0.000000,-0.000000,0.044913,0.098855,0.087177,0.087177,-0.000000,-0.000000,-0.000000
meta_3_para,-0.0,-0.000000,inf,-0.000000,-0.000000,-0.000000,0.015708,0.002801,0.020411,0.020411,-0.000000,-0.000000,-0.000000
enzyme_reaction_0_para,-0.0,-0.000000,-0.000000,inf,-0.000000,-0.000000,0.210525,0.632156,0.510826,0.510826,-0.000000,-0.000000,-0.000000
enzyme_reaction_1_para,-0.0,-0.000000,-0.000000,-0.000000,inf,-0.000000,0.268762,0.039039,-0.000000,-0.000000,inf,inf,inf
enzyme_reaction_2_para,-0.0,-0.000000,-0.000000,-0.000000,-0.000000,inf,0.066030,0.011300,0.087177,0.087177,-0.000000,-0.000000,-0.000000
meta_0,-0.0,0.044913,0.015708,0.210525,0.268762,0.066030,inf,0.383301,0.092193,0.092193,0.268762,0.268762,0.268762
meta_1,-0.0,0.098855,0.002801,0.632156,0.039039,0.011300,0.383301,inf,0.947836,0.947836,0.039039,0.039039,0.039039
meta_2,-0.0,0.087177,0.020411,0.510826,-0.000000,0.087177,0.092193,0.947836,inf,18.021827,-0.000000,-0.000000,-0.000000
meta_3,-0.0,0.087177,0.020411,0.510826,-0.000000,0.087177,0.092193,0.947836,18.021827,inf,-0.000000,-0.000000,-0.000000
reaction_0,-0.0,-0.000000,-0.000000,-0.000000,inf,-0.000000,0.268762,0.039039,-0.000000,-0.000000,inf,inf,inf
reaction_1,-0.0,-0.000000,-0.000000,-0.000000,inf,-0.000000,0.268762,0.039039,-0.000000,-0.000000,inf,inf,inf
reaction_2,-0.0,-0.000000,-0.000000,-0.000000,inf,-0.000000,0.268762,0.039039,-0.000000,-0.000000,inf,inf,inf

### <font color='white'> [2.1.2] Plot </font>

In [64]:
import numpy as np
np.sqrt(2*np.pi*np.e*1)

4.132731354122493

In [65]:
momo.parameters.df

                       Mean values Standard deviation
Temperature                 273.15                1.0
meta_0_para                    1.0                1.0
meta_3_para                    1.0                1.0
enzyme_reaction_0_para         1.0                1.0
enzyme_reaction_1_para         1.0                1.0
enzyme_reaction_2_para         1.0                1.0

In [66]:
#momo.plot(result="MI", label=True, value_in_cell=False )

## <font color='green'> [2.2] Sampling </font>

### <font color='white'> [2.2.0] Let's create an exemple </font>

In [67]:
from main import MODEL

momo = MODEL()
momo.read_SBML()

momo.enzymes.add_to_all_reaction()
momo.parameters.add_externals()
momo.parameters.add_enzymes()

momo.elasticity.s.half_satured()

Model created

To add metabolite, use .metabolites.add_meta
To add reaction,   use .reactions.add_reaction
Model created

To add metabolite, use .metabolites.add_meta
To add reaction,   use .reactions.add_reaction
0 error detected in your SBML file
Warning : The metabolite _S__Malate is not in the SBML file of the metabolic network !

In [68]:
momo.elasticity.p.df

,Temperature,D_Glucose_para,Orthophosphate_para,NADPplus_para,NADPH_para,NADH_para,NADplus_para,ATP_para,H2O_para,Ubiquinone_para,...,enzyme_ACN_R01900_para,enzyme_ICD_R00709_para,enzyme_KGD_R08549_para,enzyme_SCS_R00405_para,enzyme_SDH_R02164_para,enzyme_FUM_R01082_para,enzyme_MDH_R00342_para,enzyme_PPC_R00345_para,enzyme_Overflow_para,enzyme_OxAConsumption_para
PTS_RPTSsy,0.0,-0.5,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
PGI_R02740,0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
PFK_R04779,0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.5,-0.0,-0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
ALD_R01070,0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
TIM_R01015,0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
GAP_R01061,0.0,-0.0,-0.5,-0.0,-0.0,-0.5,-0.5,-0.0,-0.0,-0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
PGK_R01512,0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.5,-0.0,-0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
PGM_R01518,0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
PGH_R00658,0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
PYK_R00200,0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.5,-0.0,-0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
PDH_R00209,0.0,-0.0,-0.0,-0.0,-0.0,-0.5,-0.5,-0.0,-0.0,-0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
ZWF_R00835,0.0,-0.0,-0.0,-0.5,-0.5,-0.0,-0.0,-0.0,-0.0,-0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
GLH_R02035,0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
PGD_R01528,0.0,-0.0,-0.0,-0.5,-0.5,-0.0,-0.0,-0.0,-0.0,-0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
RPI_R01056,0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
RPE_R01529,0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
TXT_R01641,0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
TAL_R08575,0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
TXT_R01067,0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
CSN_R00351,0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
ACN_R01325,0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
ACN_R01900,0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
ICD_R00709,0.0,-0.0,-0.0,-0.0,-0.0,-0.5,-0.5,-0.0,-0.0,-0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
KGD_R08549,0.0,-0.0,-0.0,-0.0,-0.0,-0.5,-0.5,-0.0,-0.0,-0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
SCS_R00405,0.0,-0.0,-0.5,-0.0,-0.0,-0.0,-0.0,-0.5,-0.0,-0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
SDH_R02164,0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.5,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
FUM_R01082,0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
MDH_R00342,0.0,-0.0,-0.0,-0.0,-0.0,-0.5,-0.5,-0.0,-0.0,-0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
PPC_R00345,0.0,-0.0,-0.5,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
Overflow,0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
OxAConsumption,0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [69]:
print(f"Shape of the stoichio matrix : {momo.Stoichio_matrix.shape} \n")
print(f"numbers of metabolite in the model : {momo.metabolites.len} \n")
print(f"Numbers of reaction in the model : {momo.reactions.len} \n")
print(f"Numbers of enzyme in the model : {momo.enzymes.df.shape[0]} \n")
print(f"Numbers of parameters in the model : {momo.parameters.df.shape[0]} \n")

Shape of the stoichio matrix : (40, 31)

numbers of metabolite in the model : 40

Numbers of reaction in the model : 31

Numbers of enzyme in the model : 31

Numbers of parameters in the model : 44

In [70]:
momo.R

,Temperature,D_Glucose_para,Orthophosphate_para,NADPplus_para,NADPH_para,NADH_para,NADplus_para,ATP_para,H2O_para,Ubiquinone_para,...,enzyme_ACN_R01900_para,enzyme_ICD_R00709_para,enzyme_KGD_R08549_para,enzyme_SCS_R00405_para,enzyme_SDH_R02164_para,enzyme_FUM_R01082_para,enzyme_MDH_R00342_para,enzyme_PPC_R00345_para,enzyme_Overflow_para,enzyme_OxAConsumption_para
D_Glucose,0.0,-1.000000e+00,-1.908396e-15,-3.219647e-15,-3.219647e-15,-2.010341e-16,-2.010341e-16,-9.154748e-15,0.0,-1.110223e-16,...,7.439325e-15,-3.108624e-15,5.107026e-15,5.459276e-16,2.220446e-16,-4.662937e-15,9.059615e-16,-2.442491e-15,-3.792289e-15,-4.867198e-15
Phosphoenolpyruvate,0.0,-8.881784e-16,-4.982423e-02,2.455018e-02,2.455018e-02,4.144190e-02,4.144190e-02,-2.783072e-02,0.0,-9.418473e-02,...,3.222942e-01,-3.222942e-01,3.993408e-01,-3.993408e-01,1.883695e-01,-3.541371e-01,5.199047e-01,6.009634e-01,2.555667e-01,-1.443162e+00
Pyruvate,0.0,-9.575674e-16,5.251181e-02,3.100345e-02,3.100345e-02,-5.619665e-02,-5.619665e-02,-4.392926e-02,0.0,3.852329e-02,...,2.464105e-01,-2.464105e-01,-6.353167e-03,6.353167e-03,-7.704659e-02,3.018332e-01,-5.266198e-01,-3.715563e-01,-8.780076e-01,6.517656e-01
D_Glucose_6_phosphate,0.0,0.000000e+00,-2.687582e-03,-5.555363e-02,-5.555363e-02,1.475475e-02,1.475475e-02,7.175998e-02,0.0,5.566144e-02,...,-5.687047e-01,5.687047e-01,-3.929876e-01,3.929876e-01,-1.113229e-01,5.230389e-02,6.715105e-03,-2.294071e-01,6.224409e-01,7.913967e-01
_S_Malate,0.0,-1.110223e-16,1.343021e-02,-1.465464e-02,-1.465464e-02,-9.092344e-02,-9.092344e-02,-1.475475e-02,0.0,8.288380e-02,...,9.117757e-02,-9.117757e-02,-1.336090e-01,1.336090e-01,-1.657676e-01,5.294614e-01,1.106845e+00,2.466646e-01,2.018998e-01,-1.444687e+00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
FUM_R01082,0.0,-5.551115e-17,2.775558e-16,-5.551115e-16,-5.551115e-16,-3.885781e-16,-3.885781e-16,-2.359224e-16,0.0,2.220446e-16,...,7.771561e-16,2.775558e-16,3.885781e-16,4.440892e-16,-4.440892e-16,2.220446e-15,2.220446e-16,-4.996004e-16,-5.551115e-16,-8.881784e-16
MDH_R00342,0.0,0.000000e+00,-5.728771e-18,2.914335e-16,2.914335e-16,-1.332268e-15,-1.332268e-15,-4.768184e-16,0.0,-2.220446e-16,...,-6.106227e-16,1.110223e-15,4.440892e-16,2.775558e-16,4.440892e-16,-1.443290e-15,6.661338e-16,-2.220446e-16,-9.992007e-16,1.554312e-15
PPC_R00345,0.0,0.000000e+00,2.220446e-16,6.800116e-16,6.800116e-16,-3.538836e-16,-3.538836e-16,-3.521489e-16,0.0,-2.220446e-16,...,-1.665335e-16,-6.661338e-16,1.110223e-15,-5.828671e-16,4.440892e-16,-8.881784e-16,-2.775558e-16,-6.661338e-16,-1.221245e-15,1.047773e-15
Overflow,0.0,4.440892e-16,7.681352e-16,1.665335e-16,1.665335e-16,1.221245e-15,1.221245e-15,-1.344032e-17,0.0,4.440892e-16,...,7.771561e-16,5.551115e-17,-1.498801e-15,-2.220446e-16,-8.881784e-16,-8.881784e-16,8.326673e-16,-3.330669e-16,2.442491e-15,2.609024e-15
OxAConsumption,0.0,-2.220446e-16,-2.156786e-15,-1.221245e-15,-1.221245e-15,2.062062e-15,2.062062e-15,-7.266186e-16,0.0,8.881784e-16,...,1.443290e-15,-1.110223e-16,-3.330669e-15,3.330669e-15,-1.776357e-15,2.220446e-15,1.554312e-15,2.331468e-15,5.218048e-15,-8.881784e-16

### <font color='white'> [2.2.1] Updating the dataframe of the sampling data </font>

In [71]:
momo.data_sampling

Empty DataFrame
Columns: [Name, Type, Mean, Standard deviation, Distribution]
Index: []

In [72]:
momo.add_sampling_data(["PTS_RPTSsy","enzyme_PTS_RPTSsy_para"], "elasticity_p", mean = True)

momo.data_sampling

,Name,Type,Mean,Standard deviation,Distribution
0,"[PTS_RPTSsy, enzyme_PTS_RPTSsy_para]",elasticity_p,1.0,1,uniform

### <font color='white'> [2.2.2] Launching the sampling loop </font>

In [73]:
#import cProfile
#cProfile.run("momo.MI()")

In [74]:
momo.sampling(10, result='rho', seed_constant=False)

running time of the code : 0.27393674850463867
So 0.027393674850463866 per occurences !

array([[ 1.        ,  0.        ,  0.        , ...,  0.        ,
         0.        ,  0.        ],
       [ 0.        ,  1.        ,  0.        , ...,  0.        ,
         0.06762737, -0.01954802],
       [ 0.        ,  0.        ,  1.        , ...,  0.05190197,
         0.11697417, -0.18987577],
       ...,
       [ 0.        ,  0.        ,  0.05190197, ...,  1.        ,
        -0.09985145, -0.75073818],
       [ 0.        ,  0.06762737,  0.11697417, ..., -0.09985145,
         1.        ,  0.42818109],
       [ 0.        , -0.01954802, -0.18987577, ..., -0.75073818,
         0.42818109,  1.        ]])

In [75]:
momo.group_MI([["enzyme_PTS_RPTSsy_para","enzyme_PGI_R02740_para"],["FUM_R01082","MDH_R00342"],["PPC_R00345"]])

          0         1         2
0       inf  0.017199  0.005417
1  0.017199       inf  0.154723
2  0.005417  0.154723       inf

In [76]:
from main import *
momo = MODEL()
momo.read_SBML()

momo.elasticity.s.half_satured()
momo.enzymes.add_to_all_reaction()
momo.parameters.add_enzymes()
momo.parameters.add_externals()

Model created

To add metabolite, use .metabolites.add_meta
To add reaction,   use .reactions.add_reaction
Model created

To add metabolite, use .metabolites.add_meta
To add reaction,   use .reactions.add_reaction
0 error detected in your SBML file
Warning : The metabolite _S__Malate is not in the SBML file of the metabolic network !

In [77]:
a = momo.group_MI()

print(a.index[59])
a.loc[a.index[59]]

H2O

Temperature              NaN
enzyme_PTS_RPTSsy_para   NaN
enzyme_PGI_R02740_para   NaN
enzyme_PFK_R04779_para   NaN
enzyme_ALD_R01070_para   NaN
                          ..
FUM_R01082               NaN
MDH_R00342               NaN
PPC_R00345               NaN
Overflow                 NaN
OxAConsumption           NaN
Name: H2O, Length: 115, dtype: float64

In [78]:
momo.parameters.remove("Temperature")

Name of the removed parameter : Temperature

In [79]:
#momo.plot(result='MI')

In [80]:
momo.elasticity.p.df.shape[1]

43

In [82]:
momo.group_conditional_entropy([["enzyme_PTS_RPTSsy_para", "enzyme_PGI_R02740_para"],["enzyme_PFK_R04779_para", "enzyme_ALD_R01070_para"]])

          0         1
0      -inf  2.837877
1  2.837877      -inf

In [ ]:
a = np.log(1.290253e-28)
a

-64.21754428065849

# Test Part