## Importation of the class

In [1]:
from main import *

### Creation of the model

In [2]:
momo = model()

Model created

To add metabolite, use .add_meta
To add reaction,   use .add_reaction

In [3]:
momo.creat_linear(4)

Model created

To add metabolite, use .add_meta
To add reaction,   use .add_reaction

In [4]:
momo.Stoichio_matrix

        reaction_0  reaction_1  reaction_2
meta_0          -1           0           0
meta_1           1          -1           0
meta_2           0           1          -1
meta_3           0           0           1

In [5]:
momo.reactions.df

                            Metabolites  Equilibrium constant Law
reaction_0  {'meta_0': -1, 'meta_1': 1}                   1.0
reaction_1  {'meta_1': -1, 'meta_2': 1}                   1.0
reaction_2  {'meta_2': -1, 'meta_3': 1}                   1.0

In [6]:
momo.metabolites.df

        External
meta_0      True
meta_1     False
meta_2     False
meta_3      True

In [7]:
momo.Jacobian

        meta_0  meta_1  meta_2  meta_3
meta_0       0       0       0       0
meta_1       0       0       0       0
meta_2       0       0       0       0
meta_3       0       0       0       0

In [8]:
momo.elasticity.half_satured()

In [9]:
momo.Jacobian

        meta_0  meta_1  meta_2  meta_3
meta_0    -0.5     0.5     0.0     0.0
meta_1     0.5    -1.0     0.5     0.0
meta_2     0.0     0.5    -1.0     0.5
meta_3     0.0     0.0     0.5    -0.5

In [13]:
momo.R_v_c

array([[ 1.66533454e-16,  0.00000000e+00, -1.94289029e-16,
        -2.77555756e-17],
       [ 2.49800181e-16, -1.66533454e-16, -2.77555756e-17,
        -5.55111512e-17],
       [ 8.32667268e-17, -5.55111512e-17, -2.77555756e-16,
         2.49800181e-16]])