## Notebook for the study of the E.Coli Core model

#### Importation of the module

In [1]:
import sys
sys.path.append('../')

from main import *

momo = MODEL()

momo.read_SBtab()

Model created

To add metabolite, use .metabolites.add_meta
To add reaction,   use .reactions.add_reaction
Model created

To add metabolite, use .metabolites.add_meta
To add reaction,   use .reactions.add_reaction

In [2]:
momo.enzymes.add_to_all_reaction()
momo.parameters.add_enzymes()

momo.parameters.add_externals()

momo.elasticity.s.half_satured()

momo.parameters.remove("Temperature")

Name of the removed parameter : Temperature

In [3]:
momo.escher_reference()

Builder(height=600, metabolite_data={'acald_c': 0.95062685, 'coa_c': 2.74, 'nad_c': 4.2256266, 'accoa_c': 1.21…

In [4]:
momo.reactions.df.index

Index(['ACALD', 'ACALDt', 'ACKr', 'ACONTa', 'ACONTb', 'ACt2r', 'ADK1', 'AKGDH',
       'ATPM', 'Biomass_Ecoli_core_w_GAM', 'CO2t', 'CS', 'CYTBD', 'ENO', 'FBA',
       'FORti', 'FRD7', 'FUM', 'FUMt2_2', 'G6PDH2r', 'GAPD', 'GLCpts', 'GLUDy',
       'GLUN', 'GND', 'H2Ot', 'ICDHyr', 'ICL', 'MALS', 'MDH', 'ME2', 'NADH16',
       'NADTRHD', 'NH4t', 'O2t', 'PDH', 'PFK', 'PFL', 'PGI', 'PGK', 'PGL',
       'PGM', 'PIt2r', 'PPC', 'PPCK', 'PPS', 'PTAr', 'PYK', 'RPE', 'RPI',
       'SUCCt2_2', 'SUCCt3', 'SUCOAS', 'TALA', 'TKT1', 'TKT2', 'TPI'],
      dtype='object')

In [5]:
momo.BadAss2Cobra()

In [6]:
momo.escher_mean_deviation(fixed_element="acald_c", fixed_value=1.1)

Builder(height=600, metabolite_data={'acald_c': 0.14937315000000007, 'coa_c': -0.027522947426216065, 'nad_c': …

In [7]:
momo.group_entropy_fixed_vector(elements_to_fixe=["TALA"], elements_to_study=[], new_mean_fixed=[], return_all=True)[1]

                    Old mean  New mean  Delta mean
enzyme_ACALD_para   1.000000  1.000000           0
enzyme_ACALDt_para  1.000000  1.000000           0
enzyme_ACKr_para    1.000000  1.000000           0
enzyme_ACONTa_para  1.000000  1.000000           0
enzyme_ACONTb_para  1.000000  1.000000           0
...                      ...       ...         ...
SUCOAS             -0.119049 -0.119049           0
TALA                0.045910  0.045910           0
TKT1                0.045910  0.045910           0
TKT2                0.036433  0.036433           0
TPI                 0.443653  0.443653           0

[176 rows x 3 columns]

In [8]:
cc = momo.BadAss2Cobra()

In [9]:
momo.Stoichio_matrix

,ACALD,ACALDt,ACKr,ACONTa,ACONTb,ACt2r,ADK1,AKGDH,ATPM,Biomass_Ecoli_core_w_GAM,...,PYK,RPE,RPI,SUCCt2_2,SUCCt3,SUCOAS,TALA,TKT1,TKT2,TPI
acald_c,-1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
coa_c,-1.0,0.0,0.0,0.0,0.0,0.0,0.0,-1.0,0.0,3.75,...,0.0,0.0,0.0,0.0,0.0,-1.0,0.0,0.0,0.0,0.0
nad_c,-1.0,0.0,0.0,0.0,0.0,0.0,0.0,-1.0,0.0,-3.55,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
accoa_c,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-3.75,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
h_c,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,59.81,...,-1.0,0.0,0.0,2.0,1.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
o2_e,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
pi_e,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
xu5p_c,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,-1.0,-1.0,0.0
succ_e,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,...,0.0,0.0,0.0,-1.0,1.0,0.0,0.0,0.0,0.0,0.0
s7p_c,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,-1.0,1.0,0.0,0.0

In [10]:
momo.parameters.df

                   Mean values Standard deviation
enzyme_ACALD_para          1.0                1.0
enzyme_ACALDt_para         1.0                1.0
enzyme_ACKr_para           1.0                1.0
enzyme_ACONTa_para         1.0                1.0
enzyme_ACONTb_para         1.0                1.0
...                        ...                ...
h2o_e_para                 1.0                1.0
nh4_e_para                 1.0                1.0
o2_e_para                  1.0                1.0
pi_e_para                  1.0                1.0
succ_e_para                1.0                1.0

[69 rows x 2 columns]

In [11]:
momo.escher_meta(studied="enzyme_PFK_para")

Builder(height=600, metabolite_data={'acald_c': 0.022338579612733195, 'coa_c': 0.003246977943670869, 'nad_c': …

In [12]:
momo.operons.add("lactose", ["enzyme_ACt2r", "enzyme_CYTBD" ])

In [13]:
momo.metabolites.df

         External  Concentration (mmol/gDW)
acald_c     False                  0.950627
coa_c       False                  2.740000
nad_c       False                  4.225627
accoa_c     False                  1.212000
h_c         False                  1.014713
...           ...                       ...
o2_e         True                  1.009868
pi_e         True                  1.011554
xu5p_c      False                  1.093806
succ_e       True                  1.027221
s7p_c       False                  0.973599

[62 rows x 2 columns]

In [14]:
print("coucou")
momo.escher_meta()

coucou

ValueError: The input value 'glc_e' of the 'studied' argument is not in the model !

In [ ]:
import escher
from escher import Builder
import cobra
from time import sleep

escher.rc['never_ask_before_quit'] = True

builder = Builder(
    height=600,
    map_name=None,
    model_json='../Exemples/SBTab/e_coli_core.json',
    map_json='../Exemples/SBTab/e_coli_core.Core metabolism.json',
)

In [ ]:
builder.hide_secondary_metabolites = False
builder

In [ ]:
builder.metabolite_scale

In [ ]:


# Set the min display
builder.metabolite_scale[0]['color'] = 'rgba(100, 0, 0, 0.5)'
builder.metabolite_scale[0]['size'] = '30'
# Set the max
builder.metabolite_scale[2]['color'] = 'rgba(0, 0, 100, 0.5)'
builder.metabolite_scale[2]['size'] = '30'

builder.metabolite_scale[0] = { 'type': 'value', 'value': 1.0, 'color': 'rgba(0, 0, 100, 0.5)', 'size': 40}
builder.metabolite_scale[2] = { 'type': 'value', 'value': -1.0, 'color': 'rgba(100, 0, 0, 0.5)', 'size': 40}
# Set the 0 display
builder.metabolite_scale[1] = { 'type': 'value', 'value': 0.0, 'color': 'rgba(0, 100, 0, 0.5)', 'size': 0}

In [ ]:
builder.metabolite_no_data_size = 0

builder.metabolite_scale = [
    { 'type': 'min', 'color': 'rgba(100, 0, 0, 1.0)', 'size': 40},
    { 'type': 'value', 'value': 0.0, 'color': 'rgba(100, 0, 100, 0.0)', 'size': 20},
    { 'type': 'max', 'color': 'rgba(0, 0, 100, 1.0)', 'size': 40}
  ]

In [ ]:
builder